= form_for @item do |f|
  - if @item.errors.any?
    .alert.alert-danger
      %h4 There are #{pluralize(@item.errors.count, "error")}
      %ul
        - @item.errors.full_messages.each |msg|
          %li= msg
          
  = form_group_tag(@item.errors[:name]) do
    = f.label :name
    = f.text_field :name, class: 'form-control', placeholder: "To Do Item"

  = f.submit "Save", class: 'btn btn-success'