= form_for [user, item] do |f|
  - if item.errors.any?
    .alert.alert-danger
      %h4 There are #{pluralize(item.errors.count, "error")}
      %ul
        - item.errors.full_messages.each do |msg|
          %li= msg
  = f.label :name
  = f.text_field :name
  = f.submit
          
